/* --------------------------------------------------------------------------------------
[ Initialization ]
----------------------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,th,input,textarea,select {
	font-family: inherit;
	font-size: 100%;
	font-weight: normal;
}
li {
	list-style: none outside;
}
input,textarea {
	padding: 0;
	vertical-align: middle;
	overflow: auto;
	line-height: 1;
}
/*
input[type="submit"],
input[type="button"] {
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	appearance: button;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	background-color: transparent;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
	display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
	outline-offset: -2px;
}
*/
select {
	padding: 0px;
	line-height: 1;
	vertical-align: middle;
}
em, strong {
	font-weight: bold;
	font-style: normal;
}
img {
	border: none;
	outline: none;
	vertical-align: top;
}
table {
	font-size: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}
hr, map {
	display: none;
}
sub {
	vertical-align: 0;
	line-height: 1.0em;
}
sup {
	vertical-align: 0.3em;
	line-height: 1.0em;
}


/* --------------------------------------------------------------------------------------
[ Base setting ]
----------------------------------------------------------------------------------------- */
html {
	overflow-y: scroll;
}
body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 75%; /* 12px */
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ƒƒCƒŠƒI", Meiryo, sans-serif;
}
a:link, a:visited, a:active, a:hover {
	color: #6c4092;
	text-decoration: underline;
	outline: none;
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); tap-highlight-color: rgba(0,0,0,0);
}
a:visited {
	color: #8e779f;
}
a:hover {
	color: #3f2455;
	text-decoration: none;
}
::-webkit-input-placeholder {
	color: #999;
}
::-moz-placeholder {
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999;
}
:placeholder-shown {
	color: #999;
}


/* --------------------------------------------------------------------------------------
[ Pageframe ]
----------------------------------------------------------------------------------------- */
#header a:link,
#header a:visited,
#header a:active,
#header a:hover {
	color: #000;
	text-decoration: none;
}
#header {
	padding: 4px 0 17px;
	width: 980px;
	margin: 0 auto;
	position: relative;
	border-bottom: solid 1px #c2e7bf;
}
#header:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	height: 2px;
	background-color: #97d692;
}
#header #logo {
	position: absolute;
	left: 9px;
	top: 28px;
}
#header .utilityNavi {
	float: right;
	letter-spacing: -0.4em;
	padding-top: 6px;
	clear: both;
}
#header .utilityNavi > li {
	display: inline-block;
	letter-spacing: normal;
	margin-left: 25px;
	vertical-align: middle;
}
#header .utilityNavi > li:first-child {
	margin-left: 0;
}
#header .fontColor {
	font-size: 108.333333%;
	background-color: #e8fae7;
	padding: 4px 4px 4px 14px;
	letter-spacing: -0.4em;
	border: solid 1px #e8fae7;
	margin-left: 10px !important;
}
.setColorB #header .fontColor { background-color: #fff; border-color: #172a88; }
.setColorC #header .fontColor { background-color: #fff; border-color: #172a88; }
#header .fontColor > * {
	letter-spacing: normal;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
#header .fontColor > *:first-child {
	margin-left: 0;
}
#header .fontColor > ul {
	letter-spacing: -0.4em;
	line-height: 0;
}
#header .fontColor > ul > li {
	letter-spacing: normal;
	display: inline-block;
	margin-left: 10px;
}
#header .fontColor > ul > li:first-child {
	margin-left: 0;
}
#header .fontColor > ul > li a {
	display: block;
	width: 25px;
	height: 25px;
	overflow: hidden;
	text-indent: -9999px;
	position: relative;
	box-sizing: border-box;
	border: solid 1px #696868;
	background-color: #fff;
}
#header .fontColor > ul > li:nth-child(2) a {
	background-color: #172a88;
	border-color: #172a88;
}
#header .fontColor > ul > li:nth-child(3) a {
	background-color: #fff100;
	border-color: #fff100;
}
#header .fontColor > ul > li a:after {
	content: "";
	width: 13px;
	height: 13px;
	border: solid 2px #221814;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -7px;
	border-radius: 50%;
}
#header .fontColor > ul > li:nth-child(2) a:after {
	border-color: #fff;
}
#header .fontColor > ul > li:nth-child(3) a:after {
	border-color: #223382;
}
#header .fontColor > ul > li a:hover:after,
#header .fontColor > ul > li.current a:after {
	width: 13px;
	height: 13px;
	margin: -7px 0 0 -7px;
	background-color: #221814;
	border-radius: 0;
}
#header .fontColor > ul > li:nth-child(2) a:hover:after,
#header .fontColor > ul > li.current:nth-child(2) a:after {
	background-color: #fff;
}
#header .fontColor > ul > li:nth-child(3) a:hover:after,
#header .fontColor > ul > li.current:nth-child(3) a:after {
	background-color: #223382;
}

#header .fontSize {
	letter-spacing: -0.4em;
	font-size: 116.666667%;
}
#header .fontSize > * {
	letter-spacing: normal;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
#header .fontSize > *:first-child {
	margin-left: 0;
}
#header .fontSize > ul {
	letter-spacing: -0.4em;
	line-height: 0;
	padding: 5px 0 4px;
}
#header .fontSize > ul > li {
	letter-spacing: normal;
	display: inline-block;
	margin-left: 10px;
}
#header .fontSize > ul > li:first-child {
	margin-left: 0;
}
#header .fontSize > ul > li a {
	display: block;
	width: 25px;
	height: 21px;
	overflow: hidden;
	box-sizing: border-box;
	border-style: solid;
	border-color: #bfbfbf;
	border-width: 1px 2px 2px 1px;
	text-align: center;
	line-height: 17px;
	color: #999;
}
.setColorB #header .fontSize > ul > li a { border-color: #172a88; color: #000; }
.setColorC #header .fontSize > ul > li a { border-color: #172a88; color: #000; }
#header .fontSize > ul > li a:hover {
	color: #777;
}
#header .fontSize > ul > li.current a {
	background-color: #d4d4d4;
	border-width: 2px 1px 1px 2px;
	color: #777;
}
.setColorB #header .fontSize > ul > li.current a { background-color: #172a88; color: #fff; }
.setColorC #header .fontSize > ul > li.current a { background-color: #ffff00; color: #172a88; }
#header .logout a {
	display: block;
	border-style: solid;
	border-color: #39b02f;
	border-width: 1px 2px 2px 1px;
	width: 95px;
	height: 30px;
	text-align: center;
	color: #1a8017;
	box-sizing: border-box;
}
#header .logout a:hover {
	border-width: 2px;
}
#header .logout a:before {
	content: url(images/ico_logout.gif);
	display: inline-block;
	vertical-align: middle;
	margin: 2px 4px 2px 0px;
}
#menu {
	width: 980px;
	margin: 0 auto;
}
#menu > li {
	float: left;
}
#menu > li > a {
	display: block;
	height: 48px;
	overflow: hidden;
	position: relative;
}
#menu > li > a:hover img {
	transform: translateY(-48px);
}
#menu > li > a.current img {
	transform: translateY(-96px);
}
#footer {
	width: 100%;
	zoom: 1;
	margin-top:50px;
	padding:100px 0 50px;
	position: relative;
	background:url(images/footer_bg.png) no-repeat center top;
	font-size: 13px;
	line-height: 1.4;
	color:#fff;
	text-align: center;
	border-bottom:5px solid #fe1c0c;
	background-color: #575654 ;
}
#footerLinkList01 {
	margin: 0 auto;
	padding-top: 30px;
	width: 980px;
	overflow: hidden;
}
#footerLinkList01 dl {
	float: left;
	display: inline;
	text-align: left;
	padding:0 20px !important;
}
#footerLinkList01 .fLL01 {
	padding-left:0 !important;
}
#footerLinkList01 .fLL05 {
	padding-right:0 !important;
}
#footerLinkList01 .fLL02,
#footerLinkList01 .fLL03,
#footerLinkList01 .fLL04,
#footerLinkList01 .fLL05 {
	border-left:#848382 solid 1px;
}
#footerLinkList01 dt {
	margin-bottom:0.8em;
	font-size: 13px;
	font-weight: bold;
}
#footerLinkList01 li,
#footerLinkList01 dd {
	margin-top:2px !important;
	font-size: 13px;
}
#footer p.txt01 {
	margin: 2em 0 0 !important;
	line-height: 2;
}
#footer p.txt02 {
	margin: 2em 0 0 !important;
	line-height: 1.2;
}
#txtCopyright {
	margin: 2em 0 0 !important;
	font-size: 12px;
	line-height: 1.2;
}
#footer a:link,
#footer a:visited {
	color:#f7f8f8;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer p span {
	display: inline-block;
	padding:2px 10px !important;
	border:1px solid #f7f7f7;
}
#btnPagetop {
	position: fixed;
	right: 50px;
	bottom: 50px;
}
#btnPagetop a {
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
	word-wrap: normal !important;
	text-align: left;
	display: block;
	width: 43px;
	height: 42px;
	background: url(images/btn_pagetop.png) no-repeat left top;
}
#wrapper {
	width: 980px;
	margin: 0 auto;
}
#wrapper:after {
	content: "";
	display: table-cell;
	width: 1px;
}
#wrapper > .contents {
	display: table-cell;
	vertical-align: top;
}
#wrapper > #main {
	padding: 30px 0 0;
}
.setSizeM #wrapper > #main {
	font-size: 114.285714%;
}
.setSizeL #wrapper > #main {
	font-size: 142.857143%;
}
#wrapper > #sub {
	width: 220px;
	padding: 30px 0 0 20px;
}
#wrapper > .info {
	padding: 15px 10px 0 8px;
}
#breadcrumb {
	letter-spacing:  -0.4em;
	padding: 0 9px;
	width: 980px;
	box-sizing: border-box;
	margin-top: -15px;
}
#breadcrumb > li {
	letter-spacing: normal;
	display: inline-block;
}
#breadcrumb > li:before {
	content: ">";
	display: inline-block;
	padding: 0 8px;
}
#breadcrumb > li:first-child:before {
	display: none;
}

/* --------------------------------------------------------------------------------------
[ module ]
----------------------------------------------------------------------------------------- */
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	line-height:0;
	visibility: hidden;
}
.fltL { float: left; width: 50%; box-sizing: border-box; padding-right: 20px; }
.fltR { float: right; width: 50%; box-sizing: border-box; padding-left: 20px; }
.taC { text-align: center !important; }
.taR { text-align: right !important; }
.taL { text-align: left !important; }
.vaM { vertical-align: middle !important; }
.vaT { vertical-align: top !important; }
.vaB { vertical-align: bottom !important; }
.mrS { margin-right: 5px !important; }
.mrM { margin-right: 15px !important; }
.mrL { margin-right: 30px !important; }
.mlS { margin-left: 5px !important; }
.mlM { margin-left: 15px !important; }
.mlL { margin-left: 30px !important; }
.mtS { margin-top: 10px !important; }
.mtM { margin-top: 20px !important; }
.mtL { margin-top: 30px !important; }
.mbS { margin-bottom: 10px !important; }
.mbM { margin-bottom: 20px !important; }
.mbL { margin-bottom: 30px !important; }
.dipIB { display: inline-block !important; }
.color01 { color: #cc0000; }
.color02 { color: #1e5c18; }
.label01 {
	display: inline-block;
	background-color: #f0f1f2;
	vertical-align: middle;
	padding: 4px 8px 5px;
}
.setColorB .label01 { background-color: #172a88; color: #fff; }
.setColorC .label01 { background-color: #ffff00; color: #172a88; }
.txtM:before, .txtM:after,
.txtL:before, .txtL:after,
.txtLL:before, .txtLL:after {
	content: "|";
	display: block;
	visibility: hidden;
	line-height: 1;
}
.txtM { font-size: 116.7% /* 14px */; line-height: 1.71428571 /* 24px */; }
.txtM:before { margin-bottom: -1.35714286em /* 14px + 5px */; }
.txtM:after { margin-top: -1.35714286em /* 14px + 5px */; }
.txtM img { margin: 0.35714286em 0 0.35714286em; }
.txtL { font-size: 133.333333% /* 16px */; line-height: 1.625 /* 26px */; }
.txtL:before { margin-bottom: -1.3125em /* 16px + 5px */; }
.txtL:after { margin-top: -1.3125em /* 16px + 5px */; }
.txtL img { margin: 0.3125em 0 0.3125em; }
.txtLL { font-size: 150% /* 18px */; line-height: 1.55555556 /* 28px */; }
.txtLL:before { margin-bottom: -1.25em /* 18px + 5px */; }
.txtLL:after { margin-top: -1.27777778em /* 18px + 5px */; }
.txtLL img { margin: 0.27777778em 0 0.27777778em; }
.txtAccent01 {
	font-size: 200%;
	line-height: 1;
}
.txtMrk01 {
	padding-left: 24px;
	position: relative;
	display: inline-block;
}
.txtMrk01:after {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.7em;
	content: url(images/mrk_01.png);
}
.txtMrk02 {
	padding-left: 24px;
	position: relative;
	display: inline-block;
}
.txtMrk02:after {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.7em;
	content: url(images/mrk_02.png);
}
.txtMrk03 {
	padding-left: 30px;
	position: relative;
	display: inline-block;
}
.txtMrk03:after {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -13px;
	content: url(images/mrk_03.png);
}
.txtMrk04 {
	padding-left: 24px;
	position: relative;
	display: inline-block;
}
.txtMrk04:after {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.7em;
	content: url(images/mrk_01.png);
	transform: rotate(90deg);
}
.tit01 {
	padding: 0 0 10px 8px;
	border-bottom: solid 3px #39b02f;
}
.tit02 {
	background-color: #e8f7e8;
	padding: 12px 15px;
}
.setColorB .tit02 { background-color: #172a88; color: #fff; }
.setColorC .tit02 { background-color: #ffff00; color: #172a88; }
.tit03 {
	font-size: 183.333333%;
	line-height: 1;
	font-weight: bold;
	padding: 0 9px;
}
.tit03.tit03HasBdr {
	border-bottom: solid 2px #bbb;
	padding-bottom: 15px;
}
.tit04 {
	margin-left: 5px;
	border-left: solid 4px #39b02f;
	padding: 2px 0 3px 8px;
}
.setColorB .tit03.tit03HasBdr { border-color: #172a88; }
.setColorC .tit03.tit03HasBdr { border-color: #172a88; }
.hasBtnTit {
	position: relative;
}
.hasBtnTit .hbtBtn {
	position: absolute;
	right: 18px;
	bottom: 0;
}
.colorBox01 {
	border-radius: 5px;
	padding: 10px 5px 5px;
	background-color: #c9ecc8;
}
.setColorB .colorBox01 { background-color: #172a88; color: #fff; }
.setColorC .colorBox01 { background-color: #ffff00; color: #172a88; }
.colorBox01 .cb01Inr {
	background-color: #fff;
	padding: 15px 8px;
}
.setColorB .colorBox01 .cb01Inr,
.setColorC .colorBox01 .cb01Inr { color: #333; }
.colorBox02 {
	border-radius: 5px;
	padding: 10px 5px 6px;
	background-color: #f0f1f2;
}
.setColorB .colorBox02 { background-color: #172a88; color: #fff; }
.setColorC .colorBox02 { background-color: #ffff00; color: #172a88; }
.colorBox02 .cb02Inr {
	background-color: #fff;
	border-top: solid 3px #39b02f;
	padding: 30px 45px;
	border-bottom: solid 1px #bbb;
	color: #333;
}
.col2colorBox01 {
	display: table;
	border-spacing: 10px;
	margin: -10px -20px -10px -10px;
}
.col2colorBox01::after {
	content: "";
	display: table-cell;
	width: 0.1px;
	height: 1px;
}
.col2colorBox01 > .c2cbCol {
	display: table-cell;
	width: 50%;
	border: solid 5px #f0f1f2;
	background-color: #fff;
	border-radius: 5px;
	background: url(images/bg_dot.gif) repeat-x 0 100%;
}
.col2colorBox01 > .c2cbCol .c2cbTit {
	background-color: #f0f1f2;
	border-bottom: solid 3px #39b02f;
}
.col2colorBox01 > .c2cbCol .c2cbTxt {
	padding: 17px 10px 13px;
}
.setColorB .col2colorBox01 > .c2cbCol { border-color: #172a88; }
.setColorB .col2colorBox01 > .c2cbCol .c2cbTit { background-color: #172a88; color: #fff; }
.setColorC .col2colorBox01 > .c2cbCol { border-color: #ffff00; }
.setColorC .col2colorBox01 > .c2cbCol .c2cbTit { background-color: #ffff00; color: #172a88; }
.borderBox01 {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 15px 10px 25px;
}
.colorBox03 {
	display: table;
	background-color: #39b02f;
	padding: 11px 16px;
	width: 100%;
	box-sizing: border-box;
}
.colorBox03 > .cb03Inr {
	display: table-cell;
	vertical-align: middle;
}
.setColorB .colorBox03 { background-color: #172a88; color: #fff; }
.setColorC .colorBox03 { background-color: #ffff00; color: #172a88; }
.list01 {
	display: table;
	border-spacing: 0;
}
.list01 > li {
	display: table-row;
}
.list01 > li:first-child > .lst01Mrk,
.list01 > li:first-child > .lst01Txt {
	padding-top: 0;
}
.list01 > li > .lst01Mrk,
.list01 > li > .lst01Txt {
	padding-top: 10px;
	display: table-cell;
	vertical-align: top;
}
.list01 > li > .lst01Mrk {
	width: 1%;
	white-space: nowrap;
}
.progressList01 {
	letter-spacing: -0.4em;
	text-align: right;
}
.progressList01 > li {
	letter-spacing: normal;
	display: inline-block;
	padding: 6px 12px 5px;
	background-color: #fff;
	position: relative;
	margin-left: 20px;
	border: solid 1px #999;
}
.progressList01 > li > span {
	display: inline-block;
}
.progressList01 > li:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 6px;
	left: -14px;
	top: 0;
	background: url(images/mrk_05.png) no-repeat left center;
}
.progressList01 > li:first-child {
	margin-left: 0;
}
.progressList01 > li:first-child:before {
	display: none;
}
.progressList01 > li.current {
	background-color: #999;
	color: #fff;
}
.linkList01 {
	display: table;
	width: 100%;
}
.linkList01 > li {
	display: table-cell;
	padding: 0 10px;
}
.setColorB .progressList01 > li.current { background-color: #172a88; }
.setColorC .progressList01 > li.current { background-color: #ffff00; color: #172a88; }
.swkeyboardList.swkAbs {
	border: solid 3px #bbb;
	padding: 32px 7px 26px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
}
.setColorB .swkeyboardList.swkAbs,
.setColorC .swkeyboardList.swkAbs { border-color: #172a88; }
#swkAbsBg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.swkeyboardList > ul {
	letter-spacing: -0.4em;
	text-align: center;
}
.swkeyboardList > .swkListTxt {
	width: 590px;
	margin: 0 auto 22px;
}
.swkeyboardList > ul > li {
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	min-width: 35px;
	min-height: 31px;
	margin: 5px 1px;
}
.swkeyboardList > ul > li > .btn01.btn01SizeS {
	text-align: center;
	padding: 6px 7px;
	min-width: 32px;
	min-height: 28px;
}
.swkeyboardList > ul.swkNav {
	margin-top: 10px;
}
.swkeyboardList > ul.swkNav > li > .btn01.btn01SizeS {
	padding: 6px 20px;
}
.pageList01 {
	text-align: right;
}
.pageList01 > ol {
	display: inline-block;
}
.pageList01 > ol > li {
	display: table-cell;
	padding-left: 5px;
	vertical-align: top;
}
.pageList01 > ol > li.current a {
	color: #000;
	font-weight: bold;
	background-color: #f8f8f8;
}
.setColorB .pageList01 > ol > li.current a { background-color: #172a88; color: #fff; }
.setColorC .pageList01 > ol > li.current a { background-color: #ffff00; color: #172a88; }
.pageList01 > ol > li.pL01Txt {
	padding-left: 5px;
	vertical-align: middle;
}
.pageList01 > ol > li.pL01Txt:last-of-type {
	padding-left: 20px;
}
.pageList01 > ol > li:first-child {
	padding-left: 0;
}
.tblBgEven tr:nth-child(2n) td,
.tblBgEven tr:nth-child(2n) th,
.tblBgEvenDouble tr:nth-child(4n-1) td,
.tblBgEvenDouble tr:nth-child(4n-1) th,
.tblBgEvenDouble tr:nth-child(4n) td,
.tblBgEvenDouble tr:nth-child(4n) th {
	background-color: #f2fbf2;
}
.setColorB .tblBgEven tr:nth-child(2n) td,
.setColorB .tblBgEven tr:nth-child(2n) th,
.setColorB .tblBgEvenDouble tr:nth-child(4n-1) td,
.setColorB .tblBgEvenDouble tr:nth-child(4n-1) th,
.setColorB .tblBgEvenDouble tr:nth-child(4n) td,
.setColorB .tblBgEvenDouble tr:nth-child(4n) th {
	background-color: #edf0ff;
}
.setColorC .tblBgEven tr:nth-child(2n) td,
.setColorC .tblBgEven tr:nth-child(2n) th,
.setColorC .tblBgEvenDouble tr:nth-child(4n-1) td,
.setColorC .tblBgEvenDouble tr:nth-child(4n-1) th,
.setColorC .tblBgEvenDouble tr:nth-child(4n) td,
.setColorC .tblBgEvenDouble tr:nth-child(4n) th {
	background-color: #ffffd9;
	color: #172a88;
}
.tblBg01 td,
.tblBg01 th {
	background-color: #e3e3e3 !important;
}
td.tblBg02,
th.tblBg02 {
	background-color: #f9d4d4 !important;
}
.setColorB table td.tblBg02,
.setColorB table th.tblBg02,
.setColorC table td.tblBg02,
.setColorC table th.tblBg02,
.setColorB .tblBgEven tr.tblBg01:nth-child(2n) td,
.setColorB .tblBgEven tr.tblBg01:nth-child(2n) th,
.setColorC .tblBgEven tr.tblBg01:nth-child(2n) td,
.setColorC .tblBgEven tr.tblBg01:nth-child(2n) th {
	color: #333;
}
.tbl01 {
	border-top: solid 3px #39b02f;
	width: 100%;
}
.tbl01 td,
.tbl01 th {
	border-right: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
	padding: 13px;
	background-color: #fff;
	color: #333;
}
.tbl01 td:last-child,
.tbl01 th:last-child {
	border-right: none;
}
.tbl01 td.tblHasBdr,
.tbl01 th.tblHasBdr {
	border-right: solid 1px #bbb;
}
.tbl01 td.tblNoBdr,
.tbl01 th.tblNoBdr {
	border-right: none;
}
.tbl01 th {
	background-color: #e8f7e8;
}
.tbl01 tbody th {
	background-color: #f2fbf2;
}
.tbl01Scroll {
	border-top: solid 3px #39b02f;
	width: 100%;
	max-height: 590px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-bottom: solid 1px #bbb;
}
.tbl01Scroll .tbl01 {
	border-top: none;
	margin-bottom: 1px;
}
.tbl01Scroll .tbl01 thead {
	position: relative;
	z-index: 1;
}
.tbl01Scroll .tbl01 thead th,
.tbl01Scroll .tbl01 thead td {
	position: relative;
}
.tbl01Scroll .tbl01 thead th:after,
.tbl01Scroll .tbl01 thead td:after {
	content: "";
	position: absolute;
	height: 1px;
	background-color: #bbb;
	left: -1px;
	bottom: -1px;
	right: -1px;
	z-index: 1;
}
.tbl01Scroll .tbl01 thead th:before,
.tbl01Scroll .tbl01 thead td:before {
	content: "";
	position: absolute;
	width: 1px;
	background-color: #bbb;
	right: -1px;
	top: -1px;
	bottom: -1px;
	z-index: 1;
	min-height: 150px;
}
.setColorB .tbl01 th {
	background-color: #172a88;
	color: #fff;
}
.setColorC .tbl01 th {
	background-color: #ffff00;
	color: #172a88;
}
.tbl02 {
	border-top: solid 1px #bbb;
	border-left: solid 1px #bbb;
	width: 100%;
}
.tbl02 td, .tbl02 th {
	border-right: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
	padding: 12px 15px;
	background-color: #fff;
	text-align: left;
	color: #333;
}
.tbl02 th {
	background-color: #e8f7e8;
}
.setColorB .tbl02 th { background-color: #172a88; color: #fff; }
.setColorC .tbl02 th { background-color: #ffff00; color: #172a88; }
.tbl03 {
	border-top: solid 3px #bbb;
	width: 100%;
}
.tbl03 td, .tbl03 th {
	border-right: solid 1px #bbb;
	border-bottom: solid 1px #bbb;
	padding: 13px 16px;
	background-color: #fff;
	color: #333;
}
.tbl03 td:last-child,
.tbl03 th:last-child {
	border-right: none !important;
}
.tbl03 th {
	background-color: #f5f7f8;
}
.tbl03 thead th {
	background-color: #f0f1f2;
}
.setColorB .tbl03 th { background-color: #172a88; color: #fff; }
.setColorC .tbl03 th { background-color: #ffff00; color: #172a88; }
.btn01 {
	display: inline-block;
	min-width: 200px;
	padding: 8px 30px;
	margin: 0 3px 3px 0;
	box-sizing: border-box;
	border-radius: 5px;
	border: solid 1px #ccc;
	background: url(images/mrk_01.png) no-repeat 7px center;
	font-weight: bold;
	background-color: #fff;
	-moz-box-shadow:3px 3px 0px 0px #535c5e;
	-webkit-box-shadow:3px 3px 0px 0px #535c5e;
	box-shadow:3px 3px 0px 0px #535c5e;
	cursor: pointer;
}
.btn01:hover {
	margin: 1px 0 0 3px;
	border: solid 2px #535c5e;
	background-color: #f8f8f8;
	color: #7e7e7e;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.setColorB .btn01:hover { background-color: #172a88; color: #fff; }
.setColorC .btn01:hover { background-color: #ffff00; color: #172a88; }
a.btn01 {
	color: #000;
	text-decoration: none;
}
.btn01.btn01noMrk {
	background-image: none;
	min-width: 147px;
	padding: 8px 15px;
}
.btn01.btn01SizeS {
	padding: 6px 11px 6px 30px;
	min-width: 0;
}
.btn01.btn01SizeS.btn01noMrk {
	padding: 8px 10px;
	min-width: 80px;
	text-align: center;
}
.btn01.btn01SizeL {
	padding: 16px 30px;
	min-width: 250px;
}
.btn02 {
	font-size: 166.666667%;
	text-align: center;
	background-color: #0d7909;
	color: #fff;
	font-weight: bold;
	padding: 16px;
	line-height: 1;
	min-width: 230px;
	box-sizing: border-box;
	border-radius: 6px;
	border-style: solid;
	border-color: #595959;
	border-width: 0px 1px 1px 0px;
	display: inline-block;
	cursor: pointer;
}
.btn02:hover {
	background-color: #39b02f;
}
.btn03 {
	display: inline-block;
	min-width: 100px;
	padding: 8px 10px;
	margin: 0 3px 3px 0;
	box-sizing: border-box;
	border-radius: 5px;
	border: solid 1px #cdcdcd;
	background-color: #fff;
	-moz-box-shadow:3px 3px 0px 0px #cdcdcd;
	-webkit-box-shadow:3px 3px 0px 0px #cdcdcd;
	box-shadow:3px 3px 0px 0px #cdcdcd;
	cursor: pointer;
}
a.btn03 {
	color: #000;
	text-decoration: none;
}
.btn03.btn03SizeS {
	padding: 4px 7px;
	min-width: 25px;
}
.btn03:hover {
	margin: 1px 0 0 1px;
	border: solid 2px #cdcdcd;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.setColorB .btn03,
.setColorC .btn03 {
	border-color: #172a88;
	-moz-box-shadow:3px 3px 0px 0px #172a88;
	-webkit-box-shadow:3px 3px 0px 0px #172a88;
	box-shadow:3px 3px 0px 0px #172a88;
}
.setColorB .btn03:hover { background-color: #172a88; color:#fff; }
.setColorC .btn03:hover { background-color: #ffff00; color:#172a88; }
.btn04 {
	font-size: 125%;
	text-align: center;
	background-color: #eee;
	padding: 16px 28px;
	line-height: 1;
	box-sizing: border-box;
	border-radius: 6px;
	border-style: solid;
	border-color: #595959;
	border-width: 0px 1px 1px 0px;
	display: inline-block;
	cursor: pointer;
	min-width: 110px;
}
a.btn04 {
	color: #000;
	text-decoration: none;
}
.btn04:hover {
	background-color: #f5f5f5;
}
.btnSet {
	position: relative;
}
.btnSet .bsItem01 {
	text-align: right;
}
.btnSet .bsItem02 {
	position: absolute;
	left: 0;
	bottom: 0;
}
.btnSet .bsItem03 {
	text-align: center;
}
.iptTxt,
.txtArea {
	padding: 10px;
	font-size: 107.1%;
	border: 1px solid #ccc;
	line-height: 1;
	min-height: 34px;
	box-sizing: border-box;
}
.txtArea {
	margin: -1px 0;
	min-height: 80px;
}
.iptTxt:focus,
.txtArea:focus {
	border: 1px solid #c9ecc8;
}
.setColorB .iptTxt:focus,
.setColorB .txtArea:focus {
	border-color: #172a88;
}
.setColorC .iptTxt:focus,
.setColorC .txtArea:focus {
	border-color: #172a88;
}
.iptCheck input,
.iptRadio input {
	opacity: 0;
	height: 0;
	width: 0;
	position: absolute;
}
.iptCheck > span,
.iptRadio > span {
	padding-left: 31px;
	display: block;
	vertical-align: middle;
	position: relative;
}
.iptCheck input + span:before,
.iptRadio input + span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.2em;
	display: block;
	width: 19px;
	height: 19px;
	background: #fff;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	border-color: #697072;
	border-radius: 4px;
	box-sizing: border-box;
}
.iptCheck input:checked + span:after {
	content: "";
	position: absolute;
	left: 5px;
	top: 0.2em;
	width: 8px;
	height: 5px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 5px;	
}
.iptCheck input:checked + span:before {
	border-width: 1px;
	width: 18px;
	height: 18px;
	margin: 1px 0 0 1px;
}
.iptRadio input + span:before {
	border-radius: 50%;
	border-width: 1px;
}
.iptRadio input:checked + span:after {
	content: "";
	position: absolute;
	top: 0.2em;
	left: 6px;
	width: 7px;
	height: 7px;
	background-color: #000;
	border-radius: 50%;
	margin-top: 6px;
}
.slct::-ms-expand {
	display: none;
}
.slct::-moz-focus-inner{
    border :0px;
}
.slct {
	padding: 0 30px 0 10px;
	border: 1px solid #bbb;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #000;
	box-sizing: border-box;
	min-width: 60px;
	height: 35px;
	line-height: 35px;
	position: relative;
	background: url(images/mrk_04.png) no-repeat right center;
	display: inline-block;
}
.slctWrap {
	letter-spacing: -0.4em;
}
.slctWrap > * {
	letter-spacing: normal;
	display: inline-block;
	margin-right: 10px;
}
.slctWrap > *:last-child {
	margin-right: 0;
}
.slct option {
	padding: 0;
}
.iptFile {
	display: inline-block;
	position: relative;
}
.iptFile > input {
	opacity: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
}
.iptFile > span {
	display: inline-block;
	vertical-align: middle;
}
.iptFile > strong {
	display: inline-block;
	padding: 10px 0 10px 10px;
	vertical-align: middle;
	font-weight: normal;
}
.iptFile span:hover + strong {
	padding-left: 8px;
}
.seal {
	position: relative;
}
.seal .slInr {
	position: absolute;
	right: 12px;
	bottom: 8px;
}
.btnBox01 {
	background-color: #f5f7f8;
	padding: 12px 21px 12px 25px;
	display: table;
	width: 100%;
	box-sizing: border-box;
}
.setColorB .btnBox01 { background-color: #172a88; color: #fff; }
.setColorC .btnBox01 { background-color: #ffff00; color: #172a88; }
.btnBox01 > .bb01Btn {
	display: table-cell;
	vertical-align: middle;
	width: 1%;
	white-space: nowrap;
}
.btnBox01 > .bb01Txt {
	display: table-cell;
	vertical-align: middle;
	padding-right: 12px;
}
.hr {
	width: 100%;
	height: 3px;
	border-style: solid;
	border-width: 1px 0;
	border-color: #bbb;
	display: block;
	box-sizing: border-box;
}
.colWrap01 {
	display: table;
	width: 100%;
}
.colWrap01 > .cw01Item {
	display: table-cell;
	vertical-align: middle;
}