@charset "UTF-8";
/* ===================================================================

 contents.css

======================================================================*/

/**********************************************************************
 共通
***********************************************************************/



/**********************************************************************
 PC 画面の横幅が769px以上
***********************************************************************/
@media screen and (min-width: 769px){

/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header { display: none; }


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main { margin-right: 35px; }


/* header
--------------------------------------------------*/

.main-header {
	padding-left: 30px;
	border-left: 13px solid #e978a9
}

.main-header-title {
	font-size: 36px;
	color: #333;
}

.main-header-lead {
	margin-top: 15px;
	font-size: 20px;
	color: #888;
}


/* mapArea
--------------------------------------------------*/

.mapArea {
	margin-top: 45px;
	height: 640px;
}

.mapArea iframe {
	width: 100%;
	height: 100%;
	border: none;
}


/* shopList
--------------------------------------------------*/

.shopList { margin-top: 30px; }
.shopList-list { overflow: hidden; }

.shopList-info {
	clear: both;
	margin-top: 60px;
}

.shopList-info-lead {
	font-size: 22px;
	color: #111;
}

.shopList-info-notes {
	margin-top: 40px;
	font-size: 20px;
	color: #444;
}

.shopList-otherTitle {
	margin-top: 100px;
	font-size: 20px;
}

.shopList-otherShopList {
	margin-top: 15px;
	overflow: hidden;
}

.otherAreaList { display: none; }


/* snsArea
--------------------------------------------------*/

.main-snsArea { display: none; }


/*----------------------------------------------------------
 shopItem
------------------------------------------------------------*/

.shopItem {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 49%;
	border: 1px solid #dbdbdb;
}
.shopItem:nth-of-type(2n+1) { margin-right: 2%; }
.shopItem:nth-of-type(1n+3) { margin-top: 2%; }

.shopItem a {
	display: block;
	position: relative;
	padding: 20px 40px 20px 50px;
	background: url("/common/img/icon_linkArrow.png") no-repeat 96% 50%;
	color: #333;
	text-decoration: none;
}

.shopItem-no {
	position: absolute;
	top: 50%;
	left: 12px;
	width: 28px;
	height: 28px;
	margin-top: -14px;
	background: url("/common/img/icon_circlePink.png") no-repeat 0 0;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	text-align: center;
}
.shopList-otherShopList .shopItem-no { background-image: url("/common/img/icon_circleGray.png"); }

.shopItem-shopName { font-size: 24px; }

.shopItem-coreTime {
	margin-top: 5px;
	font-size: 18px;
}

.shopItem-mainImage { display: none; }

.shopItem-tel-btn {
	display: block;
	padding: 20px 10px;
	background: none;
	font-size: 24px;
	color: #333;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
.shopItem-tel-btn:before {
	content: "";
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: -3px 18px 0 0;
	vertical-align: middle;
	background: url("/common/img/icon_tel.png") no-repeat 0 0;
}

.shopItem-tel-no {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	width: 200px;
	margin: -30px 0 0 -110px;
	padding: 50px 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px #aaa;
	font-size: 20px;
	text-align: center;
}

.shopItem-tel-box {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}


}
/**********************************************************************
 タブレット 画面の横幅が768pxまで
***********************************************************************/
@media screen and (max-width: 768px){

/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header {
	border-bottom: 2px solid #dbdcdc;
}


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main {
	padding: 30px 0;
}

.main-header,
.main-section {
	margin-left: 20px;
	margin-right: 20px;
}


/* header
--------------------------------------------------*/

.main-header {
	padding-left: 30px;
	border-left: 13px solid #e978a9
}

.main-header-title {
	font-size: 36px;
	color: #333;
}

.main-header-lead {
	margin-top: 5px;
	font-size: 20px;
	color: #888;
}


/* mapArea
--------------------------------------------------*/

.mapArea {
	margin-top: 45px;
	height: 640px;
}

.mapArea iframe {
	width: 100%;
	height: 100%;
	border: none;
}


/* shopList
--------------------------------------------------*/

.shopList { margin-top: 30px; }
.shopList-list { overflow: hidden; }

.shopList-info {
	clear: both;
	margin-top: 60px;
}

.shopList-info-lead {
	font-size: 22px;
	color: #111;
}

.shopList-info-notes {
	margin-top: 40px;
	font-size: 20px;
	color: #444;
}

.shopList-otherTitle {
	margin-top: 100px;
	font-size: 20px;
}

.shopList-otherShopList {
	margin-top: 15px;
	overflow: hidden;
}


/* otherShopList
--------------------------------------------------*/

.otherAreaList {
	margin-top: 60px;
	background: #e5e5e5;
}

.otherAreaList-title {
	padding: 10px 0;
	background: #888;
	font-size: 21px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.otherAreaList-list {
	padding: 15px 0 35px 17px;
	overflow: hidden;
}

.otherAreaList-list li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 33%;
	margin-top: 15px;
	padding-right: 12px;
}

.otherAreaList-list li a {
	display: block;
	padding: 30px 10px;
	background: #fff;
	font-size: 21px;
	color: #4d4d4d;
	text-align: center;
	text-decoration: none;
}


/*----------------------------------------------------------
 shopItem
------------------------------------------------------------*/

.shopItem {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 49%;
	background: #fff;
	border: 1px solid #dbdbdb;
}
.shopItem:nth-of-type(2n+1) { margin-right: 2%; }
.shopItem:nth-of-type(1n+3) { margin-top: 2%; }

.shopItem a {
	display: block;
	position: relative;
	padding: 20px 40px 20px 50px;
	background: url("/common/img/icon_linkArrow.png") no-repeat 96% 50%;
	color: #333;
	text-decoration: none;
}

.shopItem-no {
	position: absolute;
	top: 50%;
	left: 12px;
	width: 28px;
	height: 28px;
	margin-top: -14px;
	background: url("/common/img/icon_circlePink.png") no-repeat 0 0;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	text-align: center;
}
.main-shopList-otherShopList .shopItem-no { background-image: url("/common/img/icon_circleGray.png"); }

.shopItem-shopName { font-size: 24px; }

.shopItem-coreTime {
	margin-top: 5px;
	font-size: 18px;
}

.shopItem-mainImage { display: none; }

.shopItem-tel-btn {
	display: block;
	padding: 20px 10px;
	background: none;
	font-size: 24px;
	color: #333;
	text-align: center;
	text-decoration: none;
}
.shopItem-tel-btn:before {
	content: "";
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: -3px 18px 0 0;
	vertical-align: middle;
	background: url("/common/img/icon_tel.png") no-repeat 0 0;
}

.shopItem-tel-no {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	width: 200px;
	margin: -30px 0 0 -110px;
	padding: 50px 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px #aaa;
	font-size: 20px;
	text-align: center;
}

.shopItem-tel-box {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}


}
/**********************************************************************
 スマートフォン 画面の横幅が640pxまで
***********************************************************************/
@media screen and (max-width: 640px){

/*----------------------------------------------------------
 base
------------------------------------------------------------*/

.page {
	background: #f1f1f1;
}


/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header {
	border-bottom: 2px solid #dbdcdc;
}


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main {
	padding: 15px 0;
}

.main-header,
.main-section {
	margin-left: 0;
	margin-right: 0;
}


/* header
--------------------------------------------------*/

.main-header {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 5px solid #e978a9
}

.main-header-title {
	font-size: 18px;
	color: #333;
}

.main-header-lead {
	margin-top: 5px;
	font-size: 12px;
	color: #888;
}


/* mapArea
--------------------------------------------------*/

.mapArea {
	margin-top: 15px;
	height: 260px;
}

.mapArea iframe {
	width: 100%;
	height: 100%;
	border: none;
}


/* shopList
--------------------------------------------------*/

.shopList { margin-top: 30px; }
.shopList-list { overflow: hidden; }

.shopList-info {
	clear: both;
	margin-top: 20px;
	padding: 25px 5px;
	background: #fff;
	border: 1px solid #dbdbdb;
}

.shopList-info-lead {
	font-size: 16px;
	color: #111;
}

.shopList-info-notes {
	margin-top: 20px;
	font-size: 14px;
	color: #444;
}

.shopList-otherTitle {
	margin-top: 25px;
	font-size: 16px;
}

.shopList-otherShopList {
	margin-top: 10px;
	overflow: hidden;
}

.shopList-otherShopList li a {
	background: url("/common/img/icon_linkArrow.png") no-repeat 96% 50%;;
	color: #333;
}

.shopList-otherShopList .shopItem-no { background-image: url("/common/img/icon_circleGray.png"); }

.shopList-otherShopList .shopItem-shopName {
	font-size: 18px;
}

.shopList-otherShopList .shopItem-coreTime {
	font-size: 14px;
}


/* otherShopList
--------------------------------------------------*/

.otherAreaList {
	margin-top: 60px;
	background: #e5e5e5;
}

.otherAreaList-title {
	padding: 10px 0;
	background: #888;
	font-size: 21px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.otherAreaList-list {
	padding: 5px 0 35px 15px;
	overflow: hidden;
}

.otherAreaList-list li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
	margin-top: 10px;
	padding-right: 15px;
}

.otherAreaList-list li a {
	display: block;
	padding: 13px 5px;
	background: #fff;
	font-size: 14px;
	color: #4d4d4d;
	text-decoration: none;
}


/*----------------------------------------------------------
 shopItem
------------------------------------------------------------*/

.shopItem {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	width: 100%;
	margin: 0;
	background: #fff;
	border: 1px solid #dbdbdb;
}
.shopItem:nth-of-type(1n+2) { margin-top: 20px; }

.shopItem-inner {
	position: relative;
}

.shopItem-header {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 5;
}

.shopItem a {
	display: block;
	position: relative;
	padding: 10px 15px 10px 50px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-decoration: none;
}

.shopItem-no {
	position: absolute;
	top: 50%;
	left: 12px;
	width: 28px;
	height: 28px;
	margin-top: -14px;
	background: url("/common/img/icon_circlePink.png") no-repeat 0 0;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	text-align: center;
}
.main-shopList-otherShopList .shopItem-no { background-image: url("/common/img/icon_circleGray.png"); }

.shopItem-shopName { font-size: 18px; }

.shopItem-coreTime {
	margin-top: 5px;
	font-size: 14px;
}

.shopItem-mainImage { display: block; }
.shopItem-image { display: none; }

.shopItem-tel-btn {
	display: block;
	padding: 20px 10px;
	background: none;
	font-size: 24px;
	color: #333;
	text-align: center;
	text-decoration: none;
}
.shopItem-tel-btn:before {
	content: "";
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: -3px 18px 0 0;
	vertical-align: middle;
	background: url("/common/img/icon_tel.png") no-repeat 0 0;
}

.shopItem-tel-no {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11;
	width: 200px;
	margin: -30px 0 0 -110px;
	padding: 50px 20px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px #aaa;
	font-size: 20px;
	text-align: center;
}


/* shopMainImage
--------------------------------------------------*/

.shopMainImage {
	position: relative;
	overflow: hidden;
}

.shopMainImage-list {
	max-height: 280px;
	overflow: hidden;
}

.shopMainImage-list li {
	float: left;
	max-height: 280px;
}

.shopMainImage-btn {
	position: absolute;
	top: 5px;
	right: 5px;
}

.shopMainImage-btn li {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-left: 8px;
	background: #fff;
	border-radius: 3px;
	text-indent: -9999px;
	opacity: 0.5;
	cursor: pointer;
}

.shopMainImage-btn li:hover,
.shopMainImage-btn li.active {
	opacity: 1;
}


}
