@charset "UTF-8";
/* ===================================================================

 contents.css

======================================================================*/

/**********************************************************************
 共通
***********************************************************************/

body { text-align: center; }


/**********************************************************************
 PC 画面の横幅が769px以上
***********************************************************************/
@media screen and (min-width: 1280px){

.topVisual-inner {
	display: inline-block;
	max-width: 1280px;
	margin: 0 auto;
}

}

@media screen and (min-width: 769px){

/*----------------------------------------------------------
 base
------------------------------------------------------------*/

.page { padding-top: 890px; }


/*----------------------------------------------------------
 topVisual
------------------------------------------------------------*/

.topVisual {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.topVisual-inner {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.topVisual-imageList {
	width: 100%;
}

.topVisual-imageList figure {
	display: block;
	position: relative;
}

.topVisual-imageList figcaption {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 11px 20px;
	background: rgba(0, 0, 0, 0.3);
	font-size: 22px;
	color: #fff;
	text-align: right;
}


/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header-logo { width: 300px; }


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main {
	position: relative;
	z-index: 2;
	padding-top: 40px;
	background: #fff;
}

.main-description {
	margin-bottom: 80px;
	padding: 0 30px;
}

.main-description-catch {
	font-size: 24px;
}

.main-description-text {
	margin-top: 20px;
	font-size: 18px;
	line-height: 1.8em;
	color: #4d4d4d;
}
.main-description-text + .main-description-text { margin-top: 10px; }


/*----------------------------------------------------------
 section
------------------------------------------------------------*/

.main-section {
	background: #dbdcdc;
}

.main-section-title {
	padding: 10px 0;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}

.searchArea .main-section-title { background: #e978a9; }
.galleryArea .main-section-title { background: #4f92ce; }


/* searchArea
--------------------------------------------------*/

.searchArea {

}

.searchArea-area {
	padding: 15px 0 35px 17px;
}

.searchArea-area-list {
	max-width: 973px;
	margin: 0 auto;
	overflow: hidden;
}

.searchArea-area-list li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 33%;
	margin-top: 15px;
	padding-right: 13px;
}

.searchArea-area-list li a {
	display: block;
	padding: 30px 10px;
	background: #fff;
	font-size: 16px;
	color: #4d4d4d;
	text-decoration: none;
}
.searchArea-area-list li a:hover {
	background: #f1f1f1;
}


/* galleryArea
--------------------------------------------------*/

.galleryArea {

}

.galleryArea-gallery {
	overflow: hidden;
}

.galleryArea-gallery li {
	float: left;
	width: 25%;
}

.galleryArea-instagram {
	display: none;
	padding: 30px 0;
}


}
/**********************************************************************
 タブレット 画面の横幅が768pxまで
***********************************************************************/
@media screen and (max-width: 768px){

/*----------------------------------------------------------
 base
------------------------------------------------------------*/

.page { padding-top: 515px; }


/*----------------------------------------------------------
 topVisual
------------------------------------------------------------*/

.topVisual {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.topVisual-imageList figure {
	display: block;
	position: relative;
}

.topVisual-imageList figcaption {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px 15px;
	background: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	color: #fff;
	text-align: right;
}


/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header { padding: 50px 0 0; }

.header-logo { width: 320px; }


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main {
	position: relative;
	z-index: 2;
	background: #fff;
}

.main-description {
	margin-bottom: 50px;
	padding: 0 15px;
}

.main-description-catch {
	font-size: 24px;
}

.main-description-text {
	margin-top: 20px;
	font-size: 18px;
	line-height: 1.8em;
	color: #4d4d4d;
}

.main-description-text + .main-description-text { margin-top: 10px; }


/*----------------------------------------------------------
 section
------------------------------------------------------------*/

.main-section {
	background: #dbdcdc;
}

.main-section-title {
	padding: 10px 0;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}

.searchArea .main-section-title { background: #e978a9; }
.galleryArea .main-section-title { background: #4f92ce; }


/* searchArea
--------------------------------------------------*/

.searchArea {

}

.searchArea-area {
	padding: 15px 0 35px 17px;
}

.searchArea-area-list {
	overflow: hidden;
}

.searchArea-area-list li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 33%;
	margin-top: 15px;
	padding-right: 12px;
}

.searchArea-area-list li a {
	display: block;
	padding: 30px 10px;
	background: #fff;
	font-size: 16px;
	color: #4d4d4d;
	text-decoration: none;
}


/* galleryArea
--------------------------------------------------*/

.galleryArea {

}

.galleryArea-gallery {
	overflow: hidden;
}

.galleryArea-gallery li {
	float: left;
	width: 25%;
}

.galleryArea-instagram {
	display: none;
	padding: 25px 0;
}


}
/**********************************************************************
 スマートフォン 画面の横幅が640pxまで
***********************************************************************/
@media screen and (max-width: 640px){

/*----------------------------------------------------------
 base
------------------------------------------------------------*/

.page { padding-top: 250px; }


/*----------------------------------------------------------
 topVisual
------------------------------------------------------------*/

.topVisual {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.topVisual-imageList figure {
	display: block;
	position: relative;
}

.topVisual-imageList figcaption {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 5px 5px;
	background: -webkit-gradient(
					linear,
					left top, left bottom,
					from(rgba(0, 0, 0, 0)),
						color-stop(0.3, rgba(0, 0, 0, 0)),
					to(rgba(0, 0, 0, 0.3))
				);
	font-size: 14px;
	color: #fff;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	text-align: right;
}


/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header {
	padding-top: 25px;
	padding-bottom: 20px;
}

.header-logo { width: 210px; }


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main { padding-top: 0; }

.main-description {
	margin-bottom: 20px;
	padding: 0 15px;
}

.main-description-catch {
	font-size: 16px;
}

.main-description-text {
	margin-top: 15px;
	font-size: 13px;
	line-height: 1.8em;
	color: #4d4d4d;
}


/*----------------------------------------------------------
 section
------------------------------------------------------------*/

.main-section {
	background: #dbdcdc;
}

.main-section-title {
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}

.searchArea .main-section-title { background: #e978a9; }
.galleryArea .main-section-title { background: #4f92ce; }


/* searchArea
--------------------------------------------------*/

.searchArea {

}

.searchArea-area {
	padding: 5px 0 35px 15px;
}

.searchArea-area-list {
	overflow: hidden;
}

.searchArea-area-list li {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
	margin-top: 10px;
	padding-right: 15px;
}

.searchArea-area-list li a {
	display: block;
	padding: 13px 5px;
	background: #fff;
	font-size: 14px;
	color: #4d4d4d;
	text-decoration: none;
}


/* galleryArea
--------------------------------------------------*/

.galleryArea {

}

.galleryArea-gallery {
	overflow: hidden;
}

.galleryArea-gallery li {
	float: left;
	width: 33.3%;
}
.galleryArea-gallery li:nth-of-type(3n+3) { width: 33.4%; }


}
