@charset "UTF-8";
/* =============================================================================

 design.css

================================================================================*/

/**********************************************************************
 共通
***********************************************************************/

/*----------------------------------------------------------
 base
------------------------------------------------------------*/

body { background: #fff; }

.page {
	position: relative;
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
}


/*----------------------------------------------------------
 parts
------------------------------------------------------------*/

.js-filter {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.js-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("/common/img/loading.gif") no-repeat 50% 50%;
	background-size: 80px 80px;
}


/* carousel
--------------------------------------------------*/

.slick-arrow {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 50px;
	height: 100%;
	text-indent: -9999px;
	opacity: 0.7;
	cursor: pointer;
	outline: none;
}
.slick-arrow:hover { opacity: 1; }

.slick-prev { left: 0; }
.slick-next { right: 0; }

.slick-arrow:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	z-index: 3;
	width: 26px;
	height: 26px;
	margin-top: -15px;
	background: #ccc;
	border-radius: 15px;
	text-indent: -9999px;
}
.slick-prev:before { left: 10px; }
.slick-next:before { right: 10px; }

.slick-arrow:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	z-index: 4;
	width: 8px;
	height: 8px;
	margin-top: -8px;
	border-style: solid;
	border-color: #fff;
}
.slick-prev:after {
	left: 19px;
	border-width: 3px 0 0 3px;
	-webkit-transform: rotate(-45deg);
}
.slick-next:after {
	right: 19px;
	border-width: 3px 3px 0 0;
	-webkit-transform: rotate(45deg);
}


/* thickbox
--------------------------------------------------*/

.thickbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 100%;
}

.thickbox-inner {
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 32;
	width: 90%;
	padding: 40px 15px 15px;
	background: #fff;
	border-radius: 3px;
}

.thickbox-btnClose {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 30px;
	color: #999;
	line-height: 30px;
	text-align: right;
	font-weight: bold;
	cursor: pointer;
}

.thickbox-filter {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 31;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
}

.js-thickbox .js-thickboxClone { display: none; }


/**********************************************************************
 PC 画面の横幅が769px以上
***********************************************************************/
@media screen and (min-width: 769px){

/*----------------------------------------------------------
 base
------------------------------------------------------------*/

body { background: #f1f1f1; }

.views {
	position: relative;
	z-index: 10;
}

.area {
	position: relative;
	z-index: 10;
	background: #fff;
	overflow: hidden;
}


/*----------------------------------------------------------
 parts
------------------------------------------------------------*/

.hidePc { display: none; }


/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header { padding: 50px 15px 0; }

.header-logo {
	width: 412px;
	margin: 0 auto;
}

.header-btnNav { display: none; }


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main {
	padding: 50px 0 30px;
	overflow: hidden;
}


/* snsArea
--------------------------------------------------*/

.main-snsArea {
	padding: 30px 50px;
	overflow: hidden;
}

.main-snsArea-description {
	float: right;
	width: 50%;
	margin-top: 30px;
	font-size: 20px;
	color: #4d4d4d;
	overflow: hidden;
}

.main-snsArea-facebook {
	float: left;
	width: 50%;
	overflow: hidden;
}

.main-snsArea-instagram {
}

a.btn-instagram {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	min-width: 480px;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid #4f92ce;
	border-radius: 5px;
	font-size: 26px;
	color: #4f92ce;
	text-align: center;
	text-decoration: none;
}
.btn-instagram:before {
	content: "";
	display: inline-block;
	width: 38px;
	height: 39px;
	margin-right: 30px;
	vertical-align: middle;
	background: url("/common/img/icon_instagram.png") no-repeat 0 0;
}

.main-snsArea-twitter {
	float: right;
	width: 50%;
	margin-top: 70px;
	text-align: center;
	overflow: hidden;
}

a.btn-twitter {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	min-width: 480px;
	padding: 13px 20px;
	background: #0693e3;
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
.btn-twitter:before {
	content: "";
	display: inline-block;
	width: 31px;
	height: 26px;
	margin-right: 10px;
	vertical-align: middle;
	background: url("/common/img/icon_twitter.png") no-repeat 0 0;
}


/*----------------------------------------------------------
 side
------------------------------------------------------------*/

.side {
	float: left;
	width: 280px;
	height: 100%;
	padding: 44px 20px 50px;
	background: #fff;
	text-align: center;
}


/* side-header
--------------------------------------------------*/

.side-header {

}

.side-header-logo {
	width: 120px;
	margin: 0 auto 40px;
}

.side-header-catch {
	font-size: 20px;
	color: #595757;
}

.side-header-description {
	margin-top: 20px;
	font-size: 13px;
	color: #717071;
}


/* side-areaNav
--------------------------------------------------*/

.side-areaNav {
	margin-top: 50px;
}

.side-areaNav-title {
	font-size: 20px;
	color: #4D4D4D;
}
.side-areaNav-title:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -5px 2px 0 0;
	vertical-align: middle;
	background: url("/common/img/icon_search.png") no-repeat 0 0;
}

.side-areaNav-list {
	margin-top: 15px;
	border-top: 1px solid #e7e7e7;
}

.side-areaNav-list li {
	border-bottom: 1px solid #e7e7e7;
}

.side-areaNav-list a {
	display: block;
	padding: 20px 5px;
	font-size: 20px;
	color: #333;
	text-decoration: none;
}

.side-areaNav-list a:hover { background-color: #f1f1f1; }

.side-areaNav-list .current {
	background: #f1f1f1;
	cursor: default;
}


/* side-snsArea
--------------------------------------------------*/

.side-snsArea {
	margin-top: 45px;
}

.side-snsArea-description {
	font-size: 16px;
	color: #4d4d4d;
}

.side-snsArea-facebook {
	margin-top: 40px;
}

.side-snsArea-instagram {
	margin-top: 15px;
}

.side-snsArea-twitter {
	margin-top: 15px;
}


.side-snsArea .btn-instagram,
.side-snsArea .btn-twitter {
	min-width: auto;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
}

.side-snsArea .btn-instagram:before {
	width: 18px;
	height: 20px;
	margin-right: 10px;
	background-size: 18px 20px;
}

.side-snsArea .btn-twitter:before {
	width: 20px;
	height: 20px;
	margin-right: 7px;
	background-size: 20px 20px;
}


/*----------------------------------------------------------
 footer
------------------------------------------------------------*/

.footer {
	position: relative;
	z-index: 10;
	clear: both;
	padding: 40px 0 30px;
	background: #f1f1f1;
	text-align: center;
}

.footer-copyright {
	font-size: 20px;
	color: #4d4d4d;
}


}
/**********************************************************************
 タブレット 画面の横幅が768pxまで
***********************************************************************/
@media screen and (max-width: 768px){

/*----------------------------------------------------------
 base
------------------------------------------------------------*/

.views {
	position: relative;
	top: 0;
}

.area {
	position: relative;
	z-index: 10;
	background: #fff;
}


/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header {
	position: relative;
	padding: 20px 15px;
}

.header-logo {
	width: 312px;
	margin: 0 auto;
}

.header-btnNav {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	background: url("/common/img/btn_headerNav.png") no-repeat 50% 50%;
	text-indent: -9999px;
}


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main {
	padding: 40px 0 30px;
	overflow: hidden;
}


/* snsArea
--------------------------------------------------*/

.main-snsArea {
	padding: 45px 20px 30px;
	text-align: center;
	overflow: hidden;
}

.main-snsArea-description {
	font-size: 20px;
	color: #4d4d4d;
}

.main-snsArea-facebook {
	width: 575px;
	margin: 40px auto 0;
}

.main-snsArea-instagram {
	margin-top: 40px;
	text-align: center;
}

a.btn-instagram {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	min-width: 480px;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid #4f92ce;
	border-radius: 5px;
	font-size: 26px;
	color: #4f92ce;
	text-align: center;
	text-decoration: none;
}
.btn-instagram:before {
	content: "";
	display: inline-block;
	width: 38px;
	height: 39px;
	margin-right: 30px;
	vertical-align: middle;
	background: url("/common/img/icon_instagram.png") no-repeat 0 0;
}

.main-snsArea-twitter {
	margin-top: 40px;
	text-align: center;
}

a.btn-twitter {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	min-width: 480px;
	padding: 13px 20px;
	background: #0693e3;
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
.btn-twitter:before {
	content: "";
	display: inline-block;
	width: 31px;
	height: 26px;
	margin-right: 10px;
	vertical-align: middle;
	background: url("/common/img/icon_twitter.png") no-repeat 0 0;
}


/*----------------------------------------------------------
 side
------------------------------------------------------------*/

.side {
	position: absolute;
	top: 0;
	left: -320px;
	width: 280px;
	height: 100%;
	z-index: 20;
	padding: 44px 20px 50px;
	background: #fff;
	text-align: center;
	overflow: hidden;
}
.side-mainFilter {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}


/* side-header
--------------------------------------------------*/

.side-header {

}

.side-header-logo {
	display: none;
}

.side-header-catch {
	font-size: 20px;
	color: #595757;
}

.side-header-description {
	margin-top: 20px;
	font-size: 13px;
	color: #717071;
}


/* side-areaNav
--------------------------------------------------*/

.side-areaNav {}

.side-areaNav-title {
	font-size: 20px;
	color: #4D4D4D;
}
.side-areaNav-title:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -5px 2px 0 0;
	vertical-align: middle;
	background: url("/common/img/icon_search.png") no-repeat 0 0;
}

.side-areaNav-list {
	margin-top: 15px;
	border-top: 1px solid #e7e7e7;
}

.side-areaNav-list li {
	border-bottom: 1px solid #e7e7e7;
}

.side-areaNav-list a {
	display: block;
	padding: 20px 5px;
	font-size: 20px;
	color: #333;
	text-decoration: none;
}

.side-areaNav-list .current {
	background: #f1f1f1;
	cursor: default;
}


.side-snsArea {
	margin-top: 45px;
}

.side-snsArea-description {
	font-size: 16px;
	color: #4d4d4d;
}

.side-snsArea-facebook {
	margin-top: 40px;
}

.side-snsArea-instagram {
	margin-top: 15px;
}

.side-snsArea-twitter {
	margin-top: 15px;
}


.side-snsArea .btn-instagram,
.side-snsArea .btn-twitter {
	min-width: auto;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
}

.side-snsArea .btn-instagram:before {
	width: 18px;
	height: 20px;
	margin-right: 10px;
	background-size: 18px 20px;
}

.side-snsArea .btn-twitter:before {
	width: 20px;
	height: 20px;
	margin-right: 7px;
	background-size: 20px 20px;
}


/*----------------------------------------------------------
 footer
------------------------------------------------------------*/

.footer {
	clear: both;
	padding: 30px 0;
	background: #f1f1f1;
	text-align: center;
}

.footer-copyright {
	font-size: 20px;
	color: #4d4d4d;
}


}
/**********************************************************************
 スマートフォン 画面の横幅が640pxまで
***********************************************************************/
@media screen and (max-width: 640px){

/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header {
	padding: 15px 10px 10px;
	background: #fff;
	text-align: center;
}

.header-logo {
	width: 200px;
	margin: 0 auto;
}

.header-btnNav {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 24px;
	height: 24px;
	margin-top: -12px;
	background: url("/common/img/btn_headerNav.png") no-repeat 50% 50%;
	background-size: 20px 16px;
	text-indent: -9999px;
}


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main { padding: 30px 0; }


/* snsArea
--------------------------------------------------*/

.main-snsArea {
	padding: 20px 15px;
	text-align: center;
	overflow: hidden;
}

.main-snsArea-description {
	font-size: 13px;
	color: #4d4d4d;
}

.main-snsArea-facebook {
	width: auto;
	max-width: 360px;
	margin-top: 25px;
}

.main-snsArea-instagram {
	margin-top: 20px;
	text-align: center;
}

a.btn-instagram {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	min-width: 300px;
	padding: 8px 11px;
	background: #fff;
	border: 1px solid #4f92ce;
	border-radius: 5px;
	font-size: 16px;
	color: #4f92ce;
	text-align: center;
	text-decoration: none;
}
.btn-instagram:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 15px;
	vertical-align: middle;
	background: url("/common/img/icon_instagram.png") no-repeat 0 0;
	background-size: 20px 20px;
}

.main-snsArea-twitter {
	margin-top: 20px;
	text-align: center;
}

a.btn-twitter {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	min-width: 300px;
	padding: 9px 14px;
	background: #0693e3;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
.btn-twitter:before {
	content: "";
	display: inline-block;
	width: 23px;
	height: 20px;
	margin-right: 7px;
	vertical-align: middle;
	background: url("/common/img/icon_twitter.png") no-repeat 0 0;
	background-size: 23px 20px;
}


/*----------------------------------------------------------
 side
------------------------------------------------------------*/

.side {
	position: absolute;
	top: 0;
	left: -240px;
	width: 200px;
	z-index: 20;
	padding: 30px 20px 50px;
	background: #fff;
	text-align: center;
	overflow: hidden;
}
.side-mainFilter {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}


/* side-areaNav
--------------------------------------------------*/

.side-areaNav-title {
	font-size: 18px;
	color: #4D4D4D;
}

.side-areaNav-list a {
	display: block;
	padding: 20px 5px;
	font-size: 16px;
	color: #333;
	text-decoration: none;
}


/* side-snsArea
--------------------------------------------------*/

.side-snsArea {
	margin-top: 45px;
}

.side-snsArea-description {
	font-size: 16px;
	color: #4d4d4d;
}

.side-snsArea-facebook {
	margin-top: 40px;
	width: 200px;
}

.side-snsArea-instagram {
	margin-top: 15px;
}

.side-snsArea-twitter {
	margin-top: 15px;
}


.side-snsArea .btn-instagram,
.side-snsArea .btn-twitter {
	min-width: auto;
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
}

.side-snsArea .btn-instagram:before {
	width: 18px;
	height: 20px;
	margin-right: 10px;
	background-size: 18px 20px;
}

.side-snsArea .btn-twitter:before {
	width: 20px;
	height: 20px;
	margin-right: 7px;
	background-size: 20px 20px;
}


/*----------------------------------------------------------
 footer
------------------------------------------------------------*/

.footer {
	padding: 13px 0;
	background: #f1f1f1;
	text-align: center;
}

.footer-copyright {
	font-size: 12px;
	color: #4d4d4d;
}


}
