@charset "UTF-8";
/* =============================================================================

 design.css

================================================================================*/

/**********************************************************************
 共通
***********************************************************************/

/*----------------------------------------------------------
 base
------------------------------------------------------------*/

body { background: #f1f1f1; }

.page {
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
}


/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header {
	padding: 40px 15px 35px;
	background: #fff;
}

.header-logo { margin: 0 auto; }


/*----------------------------------------------------------
 globalNav
------------------------------------------------------------*/



/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main { background: #fff; }


/*----------------------------------------------------------
 footer
------------------------------------------------------------*/

.footer-copyright { color: #4d4d4d; }


/**********************************************************************
 PC 画面の横幅が769px以上
***********************************************************************/
@media screen and (min-width: 769px){

/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header { padding: 40px 15px 35px; }
.header-logo { width: 330px; }


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main { padding: 50px 0 30px; }


/*----------------------------------------------------------
 footer
------------------------------------------------------------*/

.footer { padding: 40px 0 30px; }
.footer-copyright { font-size: 20px; }


}
/**********************************************************************
 タブレット 画面の横幅が768pxまで
***********************************************************************/
@media screen and (max-width: 768px){



}
/**********************************************************************
 スマートフォン 画面の横幅が640pxまで
***********************************************************************/
@media screen and (max-width: 640px){

/*----------------------------------------------------------
 header
------------------------------------------------------------*/

.header { padding: 15px 10px 10px; }
.header-logo { width: 180px; }


/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.main { padding: 30px 0; }


/*----------------------------------------------------------
 footer
------------------------------------------------------------*/

.footer { padding: 13px 0; }
.footer-copyright { font-size: 12px; }



}
